<div class="container-fluid">
  <div class="header">
    <div class="logo" (click)="showLogin = false">
      <div class="logo-img"></div>
      <h2>happy lemon</h2>
    </div>
    <div class="search-group">
      <label>
        <i class="fa fa-search fa-2x" aria-hidden="true"></i>
        <input type="text" placeholder="search">
      </label>
    </div>
    <ul class="login-group">
      <li><a class="btn btg-sm btn-warning" role="button" (click)="showLogin = true">member</a></li>
      <li><a class="btn btg-sm btn-warning" role="button">cart</a></li>
    </ul>
  </div>
  
  <main class="main row justify-content-center">
    <div class="col-12">
      <app-menu *ngIf="!showLogin"></app-menu>
      <app-login *ngIf="showLogin"></app-login>
    </div>
  </main>
  <footer>
    <app-footer></app-footer>
  </footer>
</div>
