<div class="row justify-content-center login">

  <!-- detail menu list -->
  <div class="col-12 col-md-10">
    <div class="wrapper">
      <h2>are you a member?</h2>
      <div class="group">
        <label for="user-email">
        <input type="email" id="user-email" required placeholder="Email Address">
        </label>
        <label for="user-password">
          <input type="password" id="user-password" required placeholder="password">
        </label>
        <div class="btn-group">
          <a class="btn btn-warning" href="#" role="button">sign in</a>
          <a class="btn btn-warning disabled" href="#" role="button">sign up</a>
        </div>
      </div>
    </div>
  </div>
  

</div>